@model List<ListMovieDto>


@{
	ViewData["Title"] = "Film Sayfası";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}






<h2>Film Listesi</h2>

<table class="table table-hover table-bordered mt-4">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Poster</th>
            <th>Çıkış Yılı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            int count = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@count</td>
                    <td>@item.Title</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.PosterUrl))
                        {
                            <img src="@item.PosterUrl" alt="Poster" style="width:50px; height:auto;" />
                        }
                        else
                        {
                            <span>Yok</span>
                        }
                    </td>
                    <td>@item.ReleaseYear</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-warning">Düzenle</a>
                        <a href="#" class="btn btn-sm btn-danger">Sil</a>
                    </td>
                </tr>
                count++;
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">Hiç film bulunamadı.</td>
            </tr>
        }
    </tbody>
</table>
