@model WatchList.WebUI.DTOs.MovieListDtos.CreateMovieListDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <span asp-validation-for="Title" class="text-danger"></span>

            <div class="mb-3">
                <label asp-for="Title" class="form-label">Film Başlığı</label>
                <input type="text" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input asp-for="IsShared" class="form-check-input" />
                <label asp-for="IsShared" class="form-check-label">Listeyi Paylaş</label>
            </div>

            <button type="submit" class="btn btn-success">Kaydet</button>
            <a asp-action="Index" class="btn btn-secondary">İptal</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

