
@{
    ViewData["Title"] = "NotFound404";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}

<div class="container text-center mt-5">
    <h1 class="display-1 text-warning">404</h1>
    <h3 class="mb-3">Sayfa Bulunamadı</h3>
    <p>Aradığınız sayfa mevcut değil veya taşınmış olabilir.</p>
    <a href="/User/Home/Index" class="btn btn-primary mt-3">Anasayfaya Dön</a>
</div>